<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="login.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="name">
        <nav>
           <h2 class="logo">DO<span>LA</span></h2>
           <ul>
              <li><a href="index.html">About Me</li>
              <li><a href="signup.html">signup</li>
              <li><a href="signin.html">signin</li>
           </ul>
           <a href="#" class="button">Follow Me</a>
        </nav>
     </div>
     <div class="container">
        <div class="header">
           <h2>Login</h2>
        </div>
        <div class="main">
           <form>
              <span>
               <input type="text" name="" placeholder="E-mail">
              </span><br>
              <span>
                 <input type="password" name="" placeholder="Password">
              </span><br>
              <button type="submit">Signin</button>
           </form>
        </div>
     </div>
</body>
</html>